header {
  background: #000;
  padding: 0px 100px;
  height: 90px;
}

header img {
  height: 80px;
  margin: 5px 15px 5px 0px;
}

header h1 {
  display: inline;
  color: white;
  font-family: "Roboto-Light";
  font-size: 30px;
  line-height: 41px;
}

header a:hover {
  color: #fff;
}

header nav {
  margin-top: 25px;
  float: right;
}

header nav a {
  font-family: "Roboto-Light";
  font-size: 30px;
  line-height: 35px;
  color: #FFFFFF;
  margin-right: 20px;
}

header nav a:hover {
  color: #FFF;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

header nav .last {
  margin-right: 0px;
}

.firstscreen {
  height: 90.7vh;
  background: url("../Photo/photo_2021-06-03_19-29-23 1.png") 100vh;
}

.firstscreen span {
  color: #FFF;
  font-family: "Roboto-Thin";
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0.15em;
}

.firstscreen .firstscreen-low {
  text-align: center;
  padding-top: 180px;
}

.firstscreen p {
  color: #FFF;
  font-family: "Roboto-Light";
  font-size: 25px;
  line-height: 35px;
  margin-top: 70px;
}

.firstscreen button {
  width: 230px;
  height: 50px;
  border: none;
  background-color: rgba(130, 6, 6, 0.55);
  color: #fff;
  margin-top: 30px;
}

.firstscreen .scroll {
  background-color: rgba(130, 6, 6, 0.55);
  height: 70px;
  padding-top: 14px;
  margin-top: 253px;
}

.firstscreen button:hover {
  background-color: #820606;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.firstscreen .scroll:hover {
  background-color: #820606;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.otherscreen {
  padding: 50px 50px 50px 50px;
  background-image: url("../photo/ocean.jpg");
  font-family: "Roboto-Regular";
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #fff;
}
.otherscreen .group-info {
  font-family: "Roboto-Regular";
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}
.otherscreen .group-info button {
  border: none;
  font-size: 20px;
  width: 234.38px;
  height: 63.53px;
  background-color: rgba(130, 6, 6, 0.7);
  color: #fff;
  margin-top: 60px;
}
.otherscreen .group-info button:hover {
  background-color: #820606;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}
.otherscreen .group-info button a {
  color: #fff;
}
.otherscreen .group-info button a:hover {
  color: #fff;
}
.otherscreen .abonement-info {
  padding-top: 50px;
  font-family: "Roboto-Regular";
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
}
.otherscreen .abonement-info button {
  border: none;
  font-size: 20px;
  width: 234.38px;
  height: 63.53px;
  background-color: rgba(130, 6, 6, 0.7);
  color: #fff;
  margin-top: 40px;
}
.otherscreen .abonement-info button:hover {
  background-color: #820606;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  text-decoration: underline;
}
.otherscreen .abonement-img {
  padding-top: 50px;
  margin-bottom: 100px;
}
.otherscreen .about {
  padding-top: 100px;
  margin-bottom: 250px;
}
.otherscreen .about .about-title {
  color: #fff;
  text-align: center;
  font-family: "Roboto-Light";
  font-size: 35px;
  line-height: 35px;
}
.otherscreen .about .about-info {
  color: #fff;
  text-align: center;
  font-family: "Roboto-Light";
  font-size: 20px;
  line-height: 35px;
}
.otherscreen .location {
  margin-bottom: 50px;
}

footer {
  background-color: #000;
}
footer .number p {
  text-align: center;
  font-family: "Roboto-Regular";
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-top: 30px;
}
footer .logo img {
  height: 80px;
  margin: 5px 15px 5px 0px;
}
footer .contact p {
  text-align: center;
  font-family: "Roboto-Regular";
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-top: 30px;
}
footer .logo {
  text-align: center;
}
footer .logo span {
  font-family: "Roboto-Regular";
  font-size: 30px;
  line-height: 42px;
  color: #fff;
}

.popup-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.popup-bg form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.popup-bg form .close {
  margin-right: 115px;
  margin-top: 20px;
  color: #fff;
}

.popup-bga {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}
.popup-bga form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.popup-bga form .close {
  margin-right: 115px;
  margin-top: 20px;
  color: #fff;
}

.login {
  width: 100%;
  height: 79vh;
  background-image: url("../photo/ocean.jpg");
  font-family: "Roboto-Regular";
}

.login .inside1 {
  padding-top: 100px;
}

.login .inside1 form {
  height: 55vh;
}

.login .inside1 form div span {
  font-family: "Roboto-Regular";
  font-size: 40px;
  font-weight: 100;
  line-height: 42px;
  color: #fff;
}

.login .inside1 form .mt {
  margin-top: 55px;
}

.login .inside1 form .mt label {
  font-family: "Roboto-Regular";
  font-size: 30px;
  font-weight: 100;
  line-height: 42px;
  color: #fff;
  margin-right: 20px;
}

.login .inside1 form .mt input {
  padding: 5px 10px;
  color: #000;
  height: 35px;
  width: 215px;
}

.login .inside1 form .password label {
  font-family: "Roboto-Regular";
  font-size: 30px;
  font-weight: 100;
  line-height: 42px;
  color: #fff;
  margin-right: 20px;
}

.login .inside1 form .password input {
  padding: 5px 10px;
  color: #000;
  height: 35px;
  width: 185px;
}

.login .inside1 form div {
  margin-bottom: 20px;
}

.login .inside1 form .btn input {
  width: 100%;
  background-color: #fff;
  border-radius: 0px;
  border-color: #fff;
}

.login .inside1 form button {
  width: 50%;
  height: 5vh;
  background-color: #fff;
  border-radius: 0px;
  border-color: #fff;
}

.login .inside1 form button a {
  color: #000;
}

.reg {
  width: 100%;
  height: 79vh;
  background-image: url("../photo/ocean.jpg");
  font-family: "Roboto-Regular";
}

.reg .inside1 {
  padding-top: 90px;
}

.reg .inside1 form {
  height: 60vh;
  width: 30%;
}

.reg .inside1 form div span {
  font-family: "Roboto-Regular";
  font-size: 40px;
  font-weight: 100;
  line-height: 42px;
  color: #fff;
}

.reg .inside1 form .mt {
  margin-top: 55px;
}

.reg .inside1 form .mt label {
  font-family: "Roboto-Regular";
  font-size: 30px;
  font-weight: 100;
  line-height: 42px;
  color: #fff;
  margin-right: 20px;
}

.reg .inside1 form .mt input {
  padding: 5px 10px;
  color: #000;
  height: 35px;
  width: 215px;
}

.reg .inside1 form .password label {
  font-family: "Roboto-Regular";
  font-size: 30px;
  font-weight: 100;
  line-height: 42px;
  color: #fff;
  margin-right: 20px;
}

.reg .inside1 form .password input {
  padding: 5px 10px;
  color: #000;
  height: 35px;
  width: 185px;
}

.reg .inside1 form .secontpassword label {
  font-family: "Roboto-Regular";
  font-size: 30px;
  font-weight: 100;
  line-height: 42px;
  color: #fff;
  margin-right: 0px;
}

.reg .inside1 form .secontpassword input {
  padding: 5px 10px;
  color: #000;
  height: 35px;
  width: 140px;
}

.reg .inside1 form .email label {
  font-family: "Roboto-Regular";
  font-size: 30px;
  font-weight: 100;
  line-height: 42px;
  color: #fff;
  margin-right: 0px;
}

.reg .inside1 form .email input {
  padding: 5px 10px;
  color: #000;
  height: 35px;
  width: 180px;
}

.reg .inside1 form .lng label {
  font-family: "Roboto-Regular";
  font-size: 30px;
  font-weight: 100;
  line-height: 42px;
  color: #fff;
  margin-right: 0px;
}

.reg .inside1 form .lng select {
  padding: 5px 10px;
  color: #000;
  height: 35px;
  width: 180px;
}

.reg .inside1 form .btn input {
  width: 100%;
  height: 3vh;
  background-color: #fff;
  border-radius: 0px;
  border-color: #fff;
}

.error {
  color: #FF2C19;
  font-weight: 600;
}

.reggod {
  width: 100%;
  height: 79vh;
  background-image: url("../photo/ocean.jpg");
  font-family: "Roboto-Regular";
}

.reggod .inside1 {
  padding-top: 280px;
  margin-bottom: 250px;
  text-align: center;
}

.reggod .inside1 span {
  color: #fff;
  text-align: center;
  font-family: "Roboto-Light";
  font-size: 35px;
  line-height: 35px;
}

.reggod .inside1 button {
  border: none;
  font-size: 20px;
  width: 234.38px;
  height: 63.53px;
  background-color: rgba(130, 6, 6, 0.7);
  color: #fff;
  margin-top: 40px;
}

.reggod .inside1 button:hover {
  background-color: #820606;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  text-decoration: underline;
}

.reggod .inside1 button a {
  color: #fff;
}